@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Manrope:wght@600&display=swap');

body {
  background: linear-gradient(161.7deg, #f5fcfe 0%, #fffcf4 100%);
}

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
}

.form {
  margin: 151px auto;
  border: 1px solid transparent;
  width: 500px;
  background: #ffffff;
  box-shadow: 4px 4px 25px rgba(14, 76, 121, 0.18);
  border-radius: 10px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.form-logo {
  width: 128px;
  height: 30px;
  margin: 40px auto;
  background: url('./images/logo.svg') no-repeat;
}

.form h2 {
  font-family: 'Manrope', sans-serif;
  font-size: 28px;
  font-weight: 600px;
  line-height: 38px;
  width: 261px;
  height: 38px;
  margin: 0 auto 50px;
  color: #2b689b;
}

.form-input {
  width: 400px;
  height: 36px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-input p {
  width: 24px;
  height: 24px;
}

.form-input img {
  width: 9px;
  height: 9px;
  margin-right: 10px;
}

.form-input input {
  width: 400px;
  height: 36px;
  border: none;
  font-size: 18px;
  line-height: 25.2px;
  color: #292a2c;
}

.form-input input[type='password'] {
  background: url('images/ph_eye-closed-duotone.svg') no-repeat;
  background-size: 24px 24px;
  background-position: 100% 100%;
}

/*.form-control-string {
  position: relative;
  top: 100%;
  left: 10%;
  font-size: 15px;
  line-height: 140%;
  color: #f13f58;
}*/

.form-input input::placeholder {
  font-size: 18px;
  line-height: 140%;
  color: #2b689b;
}

.form-line {
  width: 400px;
  margin: 10px auto 5px;
  padding: 0;
  height: 0;
  border: 0;
  border-top: 1px solid #2b689b;
}

.form-text {
  width: 170px;
  height: 22px;
  font-size: 16px;
  color: #2b689b;
  margin-top: 30px;
  margin-left: 61px;
  margin-bottom: 30px;
}

.form-text span {
  margin-right: 8px;
}

.form-text span {
  color: #ffb6c1;
}

.form > button {
  width: 270px;
  height: 61px;
  padding: 20px 40px;
  display: flex;
  border: none;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  gap: 13px;
  background: #ffd970;
  font-size: 17px;
  color: #0e406a;
  line-height: 21px;
  margin-left: 115px;
  margin-bottom: 30px;
  cursor: url(images/cursor.png), pointer;
}

.form-reg {
  margin-left: 128px;
  margin-bottom: 30px;
}

.form-reg button {
  border: none;
  background: transparent;
  font-weight: 600;
  font-size: 16px;
  color: #2b689b;
  cursor: url(images/cursor.png), pointer;
}

.form-error {
  opacity: 0;
  font-size: 15px;
  line-height: 140%;
  color: #f13f58;
  margin-left: 61px;
  margin-bottom: 30px;
}

.form-error:invalid {
  opacity: 1;
}

.form-line:invalid {
  border-top: 1px solid #f13f58;
}

@media (max-width: 414px) {
  .wrapper {
    max-width: 414px;
    margin: 0 auto;
  }

  .form {
    margin: 55px auto;
    border: 1px solid transparent;
    width: 350px;
    filter: drop-shadow(0px 4px 15px rgba(14, 76, 121, 0.2));
    border-radius: 6px;
  }

  .form-logo {
    width: 107px;
    height: 25px;
    margin: 31px auto;
  }

  .form h2 {
    font-size: 20px;
    font-weight: 600px;
    line-height: 140%;
    width: 186px;
    height: 28px;
    margin: 0 auto 30px;
  }

  .form-input {
    width: 310px;
    height: 33px;
  }

  .form-input input[type='password'] {
    background: url('images/ph_eye-closed-duotone.svg') no-repeat;
    background-size: 20px 20px;
    background-position: 100% 100%;
  }

  .form-input input::placeholder {
    font-size: 15px;
  }
  .form-line {
    width: 310px;
    margin: 10px auto 30px;
  }

  .form-text {
    width: 157px;
    height: 21px;
    font-size: 15px;
    margin-left: 27px;
  }

  .form-text b {
    margin-right: 5px;
  }

  .form > button {
    width: 242px;
    height: 55px;
    padding: 18px 30px;
    font-size: 16px;
    line-height: 19px;
    margin-left: 54px;
    margin-bottom: 30px;
  }

  .form-reg {
    margin-left: 58px;
  }

  .form-reg button {
    font-size: 15px;
  }

  .form-error {
    font-size: 13px;
    margin-left: 27px;
    margin-bottom: 30px;
  }
}
